<div class="footer-left">
    <p class="align-left">
        &copy; 2010 <strong>Rareș Vlăsceanu</strong> |
        <a href="/">Home</a>&nbsp;|&nbsp;
        <a href="/site-map">SiteMap</a> </p>
</div>
<div class="footer-right">
    <p class="align-right float-right">
        <a href="http://framework.zend.com/" onclick="window.open(this.href); return false; ">
            <img src="/img/misc/PoweredBy_ZF_4DarkBG.png" width="127" height="25" alt="Zend Framework" title="Zend Framework" />
        </a>
    </p>
    <p class="align-right float-right xhtml-valid">
        <img src="/img/misc/valid-xhtml10.png" width="71" height="25" alt="XHTML 1.0 Valid" title="XHTML 1.0 Valid" />
    </p>
</div>