<h1 class="section-title">Confirmare comandă</h1>

<div class="niftyable gray-box">
    <table width="100%" border="0" cellspacing="0" cellpadding="4">
        <tr>
            <td align="center" valign="middle" width="90">
                <img src="/img/icons/warning_big.png" width="70" height="70" alt="" />
            </td>
            <td align="left" valign="middle" style="font-size:11px; line-height:150%">
                <p style="margin-bottom: 5px;">
                    <b>Eroare la confirmarea comenzii!</b>
                </p>
                <p>
                    Cererea dumneavoastră de confirmare nu a putut fi validată. Dacă aţi folosit adresa din emailul primit de la MyShop,
                    verificaţi valabilitatea acestuia (maxim 24h).
                </p>
                <p>
                    În cazul în care acesta este încă valabil însă totuşi nu funcţionează, vă rugăm să ne contactaţi prin email la
                    <strong>{$cfg->EMAIL_CONTACT}</strong> sau telefonic la <strong>{$cfg->TELEFON}</strong>.
                </p>
            </td>
        </tr>
    </table>
</div>