<h1 class="section-title">Comanda trimisă</h1>

<div class="niftyable gray-box">
    <table width="100%" border="0" cellspacing="0" cellpadding="4">
        <tr>
            <td align="center" valign="middle" width="90">
                <img src="/img/icons/order_sent.png" width="70" height="70" alt="" />
            </td>
            <td align="left" valign="middle" style="font-size:11px; line-height:150%">
                <b>Comanda dvs. a fost trimisă!</b><br />
                Pentru ca aceasta sa fie procesată va trebui să o confirmati accesând link-ul corespunzător din emailul
                care a fost trimis pe adresa dvs. Neconfirmarea în termen de 24 de ore determină anularea comenzii şi a rezervării produselor.
            </td>
        </tr>
    </table>
</div>