<h2 class="section-title">Produse noi</h2>
<div style="padding: 0pt 20px;" class="clear-fix">
    <div style="width: 300px;" class="container green float-left">
        <div class="left green"></div>
        <div class="right green"></div>
        <div class="content">
            <p class="image">
                <a href="produse/detalii/3-rpc_p2-id2225-i03n2212_i03n2212.html">
                    <img height="100" width="100" alt="RPC P2-ID2225-I03N2212" src="/thumbs/medium/img2_1.jpg" />
                </a>
            </p>
            <p>
                <a class="link" href="produse/detalii/3-rpc_p2-id2225-i03n2212_i03n2212.html">RPC P2-ID2225-I03N2212</a>
            </p>
            <p class="price">Preţ (cu TVA): <strong>1.556,56 RON</strong></p>
        </div>
        <div class="bottom green clear-fix">
            <a href="produse/detalii/3-rpc_p2-id2225-i03n2212_i03n2212.html" class="float-left details">
                Detalii
            </a>
            <a href="cos-cumparaturi/adauga/3-rpc_p2-id2225-i03n2212_i03n2212.html" class="float-right buy">
                Adaugă în coş
            </a>
        </div>
    </div>
</div>