{if $newProducts|@count}
<div style="margin-bottom: 20px;">
    <h2 class="section-title">Produse noi</h2>

    {foreach from=$newProducts item=product name=newProducts}
    {math equation='x % 2' x=$smarty.foreach.newProducts.iteration assign=iterationOdd}
    {if $iterationOdd}
    <div class="clear-fix outer-container">
    {/if}
        <div style="width: 300px;" class="container green float-{if $iterationOdd}left{else}right{/if}">
            <div class="left"></div>
            <div class="right"></div>
            <div class="content">
                <p class="image">
                    <a href="/{$product.Categorie.denumire|url_escape}/{$product.denumire|url_escape}-{$product.id}.html">
                        <img height="100" width="100" alt="{$product.denumire}" src="/thumbs/medium/{$product.picture}" />
                    </a>
                </p>
                <p>
                    <a class="link" href="/{$product.Categorie.denumire|url_escape}/{$product.denumire|url_escape}-{$product.id}.html">{$product.denumire}</a>
                </p>
                <p class="price">Preţ (cu TVA): <strong>{$product.pret|@number_format:2:',':'.'} RON</strong></p>
            </div>
            <div class="bottom clear-fix">
                <a href="/{$product.Categorie.denumire|url_escape}/{$product.denumire|url_escape}-{$product.id}.html" class="float-left details">
                    Detalii
                </a>
                <a href="/cos-cumparaturi/adauga?pid={$product.id}" class="float-right buy">
                    Adaugă în coş
                </a>
            </div>
        </div>
    {if !$iterationOdd || $smarty.foreach.newProducts.last}
    </div>
    {/if}
    {/foreach}
</div>
{/if}

{if $recommendations|@count}
<div style="margin-bottom: 20px;">
    <h2 class="section-title">Recomandari</h2>

    {foreach from=$recommendations item=product name=recommendations}
    {math equation='x % 2' x=$smarty.foreach.recommendations.iteration assign=iterationOdd}
    {if $iterationOdd}
    <div class="clear-fix outer-container">
    {/if}
        <div style="width: 300px;" class="container red float-{if $iterationOdd}left{else}right{/if}">
            <div class="left"></div>
            <div class="right"></div>
            <div class="content">
                <p class="image">
                    <a href="/{$product.Categorie.denumire|url_escape}/{$product.denumire|url_escape}-{$product.id}.html">
                        <img height="100" width="100" alt="{$product.denumire}" src="/thumbs/medium/{$product.picture}" />
                    </a>
                </p>
                <p>
                    <a class="link" href="/{$product.Categorie.denumire|url_escape}/{$product.denumire|url_escape}-{$product.id}.html">{$product.denumire}</a>
                </p>
                <p class="price">Preţ (cu TVA): <strong>{$product.pret|@number_format:2:',':'.'} RON</strong></p>
            </div>
            <div class="bottom clear-fix">
                <a href="/{$product.Categorie.denumire|url_escape}/{$product.denumire|url_escape}-{$product.id}.html" class="float-left details">
                    Detalii
                </a>
                <a href="/cos-cumparaturi/adauga?pid={$product.id}" class="float-right buy">
                    Adaugă în coş
                </a>
            </div>
        </div>
    {if !$iterationOdd || $smarty.foreach.recommendations.last}
    </div>
    {/if}
    {/foreach}
</div>
{/if}