<h1 class="section-title">Informaţii</h1>

<div class="text-content">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>Comerţul electronic</strong> (Electronic commerce sau E-commerce în engleză)
        este demersul de cumpărare prin intermediul transmiterii de date la distanţă, demers specific politicii
        distributive a marketingului. Prin intermediul internetului se dezvoltă o relaţie de schimb şi servicii
        între ofertant şi viitor cumparător. Termenul de Electronic Business a fost făcut popular în anii 1990,
        printr-o campanie publicitară a companiei IBM.
    </p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;Utilizarea tuturor mijloacelor electronice pentru participarea la o activitate de comerţ
        electronic poartă denumirea de tranzacţie electronică (e-trade în limba engleză). Strâns legate de comerţul
        electronic sunt afacerile electronice, ce nu se limitează la cumpărarea şi vânzarea de bunuri sau servicii,
        ci includ şi servirea cumpărătorilor, colaborarea cu partenerii de afaceri sau conducerea unei organizaţii prin mijloace electronice.
    </p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;În tranzacţiile comerciale clasice se disting patru etape diferite, după cum urmează:</p>
    <ol>
        <li>informarea comercială referitoare la tranzacţie şi anume, cercetarea de marketing;</li>
        <li>încheierea contractului comercial;</li>
        <li>vânzarea produsului sau a serviciului;</li>
        <li>plata produsului sau a serviciului.</li>
    </ol>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;În cadrul comerţului electronic pot fi tranzacţionate bunuri şi servicii digitale
        (sunt excluse fazele logistice), iar locul în care sunt tranzacţionate aceste bunuri digitale poartă
        denumirea de piaţă electronică (e-marketspace în limba engleză) &ndash; contextul virtual în care cumpărătorii
        şi vânzătorii se găsesc unul pe altul şi tranzacţionează afaceri electronice.
    </p>
</div>