{foreach from=$paginator->getResults() item=product name=pLoop}
<table cellspacing="0" cellpadding="0" border="0" width="100%" class="products {if $smarty.foreach.pLoop.last}last{/if}">
    <colgroup>
        <col width="150" />
        <col />
        <col width="150" />
    </colgroup>
    <tbody>
        <tr>
            <td align="center">
                {if $search}
                <p>Relevanţă:</p>
                <div class="relevance">
                    <div class="r{$product.score|normalize_relevance:$paginator->source->maxScore}"></div>
                </div>
                {/if}
                <a title="Click pentru detalii" href="/{$product.categorie|url_escape}/{$product.denumire|url_escape}-{$product.id}.html">
                    <img height="100" width="100" alt="{$product.denumire}" src="/thumbs/medium/{$product.imagine}" />
                </a>
            </td>
            <td>
                <h2>
                    <a title="Click pentru detalii" href="/{$product.categorie|url_escape}/{$product.denumire|url_escape}-{$product.id}.html">
                        {$product.denumire|google_highlight:$smarty.get.q}
                    </a>
                </h2>
                <ul class="product-specs">
                    {foreach from=$product.caracteristici item=spec}
                    <li>
                        <strong>{$spec.name}:</strong> {$spec.value|google_highlight:$smarty.get.q}
                    </li>
                    {/foreach}
                    {if $product.rating}
                    <li class="clear-fix">
                        <p class="float-left">
                            <strong>Rating: </strong>
                        </p>
                        <ul class="rating {$product.rating|stars_format}star float-left">
                            <li class="one">1</li>
                            <li class="two">2</li>
                            <li class="three">3</li>
                            <li class="four">4</li>
                            <li class="five">5</li>
                        </ul>
                    </li>
                    {/if}
                </ul>
            </td>
            <td align="right">
                <p>
                    <strong>Preţ (cu TVA):<br />{$product.pret|@number_format:2:',':'.'} RON</strong>
                </p>
                <p class="aviability {if !$product.inStoc}un{/if}available">
                    {if $product.inStoc}Disponibil{else}Indisponibil{/if}
                </p>
                {if $product.inStoc}
                <p>
                    <a href="/cos-cumparaturi/adauga?pid={$product.id}" 
                       class="lnk-button add-to-cart float-right"
                       title="Click pentru adaugare produs în coş">Adaugă în coş</a>
                </p>
                {/if}
            </td>
        </tr>
        <tr>
            <td align="center" colspan="3"><hr class="fancy-spacer" /></td>
        </tr>
    </tbody>
</table>
{/foreach}