<h1 class="section-title">Confirmare comandă</h1>

<div class="niftyable gray-box">
    <table width="100%" border="0" cellspacing="0" cellpadding="4">
        <tr>
            <td align="center" valign="middle" width="90">
                <img src="/img/icons/ok_big.png" width="70" height="70" alt="" />
            </td>
            <td align="left" valign="middle" style="font-size:11px; line-height:150%">
                <p style="margin-bottom: 5px;">
                    <b>Comanda dumneavoastră a fost confirmată!</b>
                </p>
                <p>
                    În cel mai scurt timp veţi fi contactat telefonic la numărul de contact: <strong>{$telNumber}</strong> pentru a stabili
                    informaţiile legate de plata şi livrarea produselor achiziţionate.
                </p>
                <p>
                    Pentru orice nelămurire sau întrebare legată de prezenta comandă vă rugăm să ne contactaţi prin email la
                    <strong>{$cfg->EMAIL_CONTACT}</strong> sau telefonic la <strong>{$cfg->TELEFON}</strong>.
                </p>
            </td>
        </tr>
    </table>
</div>