<h1 class="section-title">Trimite comanda</h1>

<ul class="steps">
    <li class="first">
        <a href="/cos-cumparaturi">Coş de cumpărături</a>
    </li>
    <li>
        <a href="/comanda/mod-facturare">Mod de facturare</a>
    </li>
    <li class="current">
        <p>Modalitate de livrare</p>
    </li>
    <li>
        <p>Confirmă</p>
    </li>
</ul>

{if $error}
<br />
<div align="center" class="error niftyable">
    {$error}
</div>
{/if}

{assign var=cumparator value=$invoice->cumparator|default:$data}
<form class="formular" method="post" action="/comanda/set-livrare" style="margin: 25px 0 40px;">
    {if $invoice->tip == 'fizica'}
    <table cellspacing="0" cellpadding="5" border="0" width="100%" class="table-border">
        <thead>
            <tr>
                <td align="left" class="table-header2" colspan="2">Cumpărător</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td align="left" colspan="2">
                    <table cellspacing="0" cellpadding="5" border="0" width="100%">
                        <colgroup>
                            <col width="120" align="left" />
                            <col align="left" />
                        </colgroup>
                        <tbody>
                            <tr>
                                <td align="left">Nume: * </td>
                                <td align="left">
                                    <input type="text" value="{$cumparator.nume}" size="45" class="realname" name="cumparator[nume]" />
                                </td>
                            </tr>
                            <tr>
                                <td align="left">Prenume: * </td>
                                <td align="left">
                                    <input type="text" value="{$cumparator.prenume}" size="45" class="realname" name="cumparator[prenume]" />
                                </td>
                            </tr>
                            <tr>
                                <td align="left">Telefon: * </td>
                                <td align="left">
                                    <input type="text" value="{$cumparator.telefon}" size="20" class="required" name="cumparator[telefon]" title="Introduceţi numărul de telefon" />
                                </td>
                            </tr>
                            <tr>
                                <td align="left">Fax:</td>
                                <td align="left">
                                    <input type="text" value="{$cumparator.fax}" size="20" name="cumparator[fax]" />
                                </td>
                            </tr>
                            <tr>
                                <td align="left">Email: *</td>
                                <td align="left">
                                    <input type="text" value="{$cumparator.email}" size="20" class="required validate-email" name="cumparator[email]" title="Introduceţi adresa de email" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <table cellspacing="0" cellpadding="5" border="0" width="100%" class="table-border selectable-sub-section">
        <thead>
            <tr>
                <td align="left" class="table-header2">
                    Adresa de facturare
                    <input type="hidden" value="{if $data->Adrese|@count == 1}{$data->Adrese[0].id}{else}{$invoice->cumparator.adresa}{/if}"
                           name="cumparator[adresa]" class="selected-sub-section required" title="Selectaţi o adresă de facturare" />
                </td>
                <td align="right" class="table-header2">
                    <a style="color: gray; font-size: 11px" href="javascript://" class="do-action" rel="add-address">
                        <img height="16" width="16" class="valignMiddle" alt="" src="/img/icons/add.png" /> Adaugă adresă
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            {include file='comanda/livrare-lista-adrese.html'}
        </tbody>
    </table>
    {else}
    <table cellspacing="0" cellpadding="5" border="0" width="100%" class="table-border selectable-sub-section">
        <thead>
            <tr>
                <td align="left" class="table-header2">
                    Cumpărător
                    <input type="hidden" value="{if $data->Companii|@count == 1}{$data->Companii[0].id}{else}{$invoice->cumparator.id}{/if}"
                       name="cumparator[companie]" class="selected-sub-section required" title="Selectaţi o companie dintre cele înregistrare" />
                </td>
                <td align="right" class="table-header2">
                    <a style="color: gray; font-size: 11px" href="javascript://" class="do-action" rel="add-company">
                        <img height="16" width="16" class="valignMiddle" alt="" src="/img/icons/add.png" /> Adaugă companie
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            {include file='comanda/livrare-lista-companii.html'}
        </tbody>
    </table>
    {/if}
    <p>&nbsp;</p>

    <table cellspacing="0" cellpadding="5" border="0" width="100%" class="table-border">
        <thead>
            <tr>
                <td align="left" class="table-header2">Destinatar</td>
                <td align="right" class="table-header2">
                    <table cellspacing="0" cellpadding="0" border="0" class="no-padding">
                        <colgroup>
                            <col width="20" />
                            <col />
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox" id="destinatar" name="destinatar[cumparator]" value="1"
                                           class="show-hide-next" {if !$invoice->cumparator || $invoice->buyerIsReceiver()}checked="checked"{/if} />
                                </td>
                                <td style="color: gray; font-size: 11px;">
                                    <label for="destinatar">Adresa de facturare este aceeaşi cu adresa de livrare.</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td align="center" style="padding: 0px;" colspan="2">
                    <div class="toggle-target" {if !$invoice->cumparator || $invoice->buyerIsReceiver()}style="display: none;"{/if}>
                        <table cellspacing="0" cellpadding="5" border="0" width="100%">
                            <colgroup>
                                <col width="120" align="left" />
                                <col align="left" />
                            </colgroup>
                            <tbody>
                                <tr style="background-color: #F3F7FC;">
                                    <td>&nbsp;Nume: * </td>
                                    <td>
                                        <input type="text" value="{$invoice->destinatar.nume}" size="45" class="realname" name="destinatar[nume]" />
                                    </td>
                                </tr>
                                <tr style="background-color: #F3F7FC;">
                                    <td>&nbsp;Prenume: * </td>
                                    <td>
                                        <input type="text" value="{$invoice->destinatar.prenume}" size="45" class="realname" name="destinatar[prenume]" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;Adresa: *</td>
                                    <td>
                                        <textarea style="overflow: auto;" class="required" cols="62" rows="3" name="destinatar[adresa]" title="Introduceţi adresa destinatarului">{$invoice->destinatar.adresa}</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;Localitate: *</td>
                                    <td>
                                        <input type="text" value="{$invoice->destinatar.oras}" size="50" class="required" name="destinatar[oras]" title="Introduceţi localitatea destinatarului" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;Judeţ / Sector: * </td>
                                    <td>
                                        <select id="judet_destinatar" class="required" name="destinatar[judet]" title="Selectaţi judeţul destinatarului">
                                            <option value="">...</option>
                                            {foreach from=$regions item=name key=groupName}
                                            {if $name|@is_array}
                                            <optgroup label="{$groupName}">
                                                {foreach from=$name item=sub}
                                                <option value="{$sub}" {if $invoice->destinatar.judet == $sub}selected="selected"{/if}>{$sub}</option>
                                                {/foreach}
                                            </optgroup>
                                            {else}
                                            <option value="{$name}" {if $invoice->destinatar.judet == $name}selected="selected"{/if}>{$name}</option>
                                            {/if}
                                            {/foreach}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;Cod poştal: </td>
                                    <td>
                                        <input type="text" value="{$invoice->destinatar.cod_postal}" size="10" name="destinatar[cod_postal]" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<hr class="fancy-spacer" />
<table cellspacing="0" cellpadding="0" border="0" width="500px" class="bottom-nav">
    <colgroup>
        <col width="50%" />
        <col />
    </colgroup>
    <tbody>
        <tr>
            <td align="center">
                <a class="lnk-button" href="/comanda/mod-facturare" style="width: 85px">
                    <img height="20" width="20" alt="" class="valignMiddle" src="/img/icons/back.png" /> Înapoi
                </a>
            </td>
            <td align="center">
                <a class="lnk-button next" href="javascript://" style="width: 85px">
                    Continuă <img height="20" width="20" alt="" src="/img/icons/forward.png" />
                </a>
            </td>
        </tr>
    </tbody>
</table>