{foreach from=$data->Companii item=company name=companies}
<tr>
    <td align="left" style="padding: 0px;" colspan="2">
        <table cellspacing="0" cellpadding="5" border="0" width="100%" class="sub-section" {if !$smarty.foreach.companies.first}style="border-top: 1px solid #E6E6E6"{/if}>
            <tbody>
                <tr>
                    <td align="center" width="50" valign="middle" rowspan="11">
                        <input type="radio" value="{$company->id}" name="company" />
                    </td>
                    <td align="left" width="120">Denumire:</td>
                    <td align="left"><strong>{$company->denumire}</strong></td>
                </tr>
                <tr>
                    <td align="left" width="120">Persoana de contact: </td>
                    <td align="left">{$company->persoana_contact}</td>
                </tr>
                <tr>
                    <td align="left" width="120">C.U.I:</td>
                    <td align="left">{$company->cod_fiscal}</td>
                </tr>
                <tr>
                    <td align="left" width="120">Nr. Reg. Com: </td>
                    <td align="left">{$company->reg_com}</td>
                </tr>
                <tr>
                    <td align="left" width="120">Cont bacar:</td>
                    <td align="left">{$company->cont}</td>
                </tr>
                <tr>
                    <td align="left" width="120">Banca:</td>
                    <td align="left">{$company->banca}</td>
                </tr>
                <tr>
                    <td align="left" width="120">E-mail:</td>
                    <td align="left">{$company->email_sediu}</td>
                </tr>
                <tr>
                    <td align="left" width="120">Adresa:</td>
                    <td align="left">{$company->adresa_sediu}</td>
                </tr>
                <tr>
                    <td align="left" width="120">Judeţ / Sector:</td>
                    <td align="left">{$company->judet_sediu}</td>
                </tr>
                <tr>
                    <td align="left" width="120">Localitate:</td>
                    <td align="left">{$company->oras_sediu}</td>
                </tr>
                <tr>
                    <td align="left" width="120">Cod poştal:</td>
                    <td align="left">{$company->cod_postal_sediu}</td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
{/foreach}