{assign var=companiesCount value=$data->Companii|@count}
{foreach from=$data->Companii item=company name=companies}
<tr>
    <td align="left" style="padding: 0px;" colspan="2">
        <table cellspacing="0" cellpadding="5" border="0" width="100%"
               class="sub-section {if $companiesCount == 1 || $invoice->cumparator.id == $company->id}selected{/if}"
               {if !$smarty.foreach.companies.first}style="border-top: 1px solid #E6E6E6"{/if}>
           <colgroup>
                <col width="50" align="left" />
                <col width="120" align="left" />
                <col align="left" />
            </colgroup>
            <tbody>
                <tr>
                    <td align="center" valign="middle" rowspan="11">
                        <input type="radio" value="{$company->id}" name="selected[company]"
                            {if $companiesCount == 1 || $invoice->cumparator.id == $company->id}checked="checked"{/if}/>
                    </td>
                    <td>Denumire:</td>
                    <td><strong>{$company->denumire}</strong></td>
                </tr>
                <tr>
                    <td>Persoana de contact: </td>
                    <td>{$company->persoana_contact}</td>
                </tr>
                <tr>
                    <td>C.U.I:</td>
                    <td>{$company->cod_fiscal}</td>
                </tr>
                <tr>
                    <td>Nr. Reg. Com: </td>
                    <td>{$company->reg_com}</td>
                </tr>
                <tr>
                    <td>Cont bacar:</td>
                    <td>{$company->cont}</td>
                </tr>
                <tr>
                    <td>Banca:</td>
                    <td>{$company->banca}</td>
                </tr>
                <tr>
                    <td>E-mail:</td>
                    <td>{$company->email_sediu}</td>
                </tr>
                <tr>
                    <td>Adresa:</td>
                    <td>{$company->adresa_sediu}</td>
                </tr>
                <tr>
                    <td>Judeţ / Sector:</td>
                    <td>{$company->judet_sediu}</td>
                </tr>
                <tr>
                    <td>Localitate:</td>
                    <td>{$company->oras_sediu}</td>
                </tr>
                <tr>
                    <td>Cod poştal:</td>
                    <td>{$company->cod_postal_sediu}</td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
{/foreach}